<div class="sidenav_wrapper">
  <ion-button shape="round"
              size="large"
              (click)="onClickNav('/home')">
    <ion-icon slot="icon-only"
              name="infrige-icon">
    </ion-icon>

  </ion-button>
  <ion-button shape="round"
              size="large">
    <ion-icon name="add"
              slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button shape="round"
              size="large">
    <ion-icon name="add"
              slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button id="setting_button"
              shape="round"
              size="large"
              (click)="onClickNav('/settings')">
    <ion-icon name="settings-sharp"
              slot="icon-only"></ion-icon>
  </ion-button>
</div>